# Frontend Environment Variables Sample
# Local Development Example:
# VITE_BACKEND_BASE_URL=http://localhost:5001
# VITE_BASE_PATH=/

# Production (Subpath Deployment e.g. https://vdt.net.vn/mptech):
VITE_BACKEND_BASE_URL=https://vdt.net.vn/mptech_task_management
VITE_BASE_PATH=/mptech/